{% extends "main/layout.html" %}
{% load static %}
{% block title %}
Контакты
{% endblock %}
{% block content%}
    <section>
      <div class="container">
        <p>
          Адрес: Россия, 600017, г. Владимир, ул. Батурина, д. 28.<br />
          Тел: +7 (4922) 33-18-00<br />
          Факс: +7 (4922) 53-19-15<br />
          Е-mail: contact@electropribor.ru
        </p>
        <p>
          Отдел продаж готовой продукции:<br />
          Начальник отдела<br />
          Файнгольд Ефим Михайлович<br />
          Тел: +7 (4922) 47-80-11 *добавочный 8774<br />
        </p>
        <p>
          Средства связи для гражданской авиации<br />
          Средства связи для железных дорог<br />
          Тел: +7 (4922) 53-28-59
        </p>
        <p>
          Техника специального назначения<br />
          Тел: +7 (4922) 53-28-59
        </p>
        <p>
          Башни связи<br />
          Опоры антенные<br />
          Мачтовые устройства<br />
          Тел: +7 (4922) 53-19-58<br />
        </p>
        <p>
          Производственные услуги предприятия<br />
          Оборудование для предприятий водоснабжения и водоотведения<br />
          Тел: +7 (4922) 36-21-40<br />
        </p>
        <p>
          Справочная АТС предприятия<br />
          Тел: +7 (4922) 53-16-53<br />
        </p>
        <p>
          Отдел сбыта<br />
          Тел: +7 (4922) 53-03-86
        </p>
        <p>
          Отдел сервисного обслуживания потребителей<br />
          Тел: +7 (4922) 33-50-96<br />
          +7 (4922) 47-80-26 *добавочный 8882
        </p>
        <p>
          Отдел кадров<br />
          Тел: +7 (4922) 53-07-44
        </p>
      </div>
    </section>

    <hr />

    <section class="mb-2">
      <div class="container">
        <h4 style="font-weight:450;" class="text-center">Завод на карте</h4>
        <script
          type="text/javascript"
          charset="utf-8"
          async
          src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4add1e8ae55336f97c1ddfe70fcf627dfde6af62b64af8e9bc399f80dfed070&amp;width=100%&amp;height=450px&amp;lang=ru_RU&amp;scroll=true"
        ></script>
      </div>
    </section>
{% endblock %}